<ng-container *ngIf="!showComplete">
  <form (submit)="reset()">
    <div>
      <!--<label for="username">Username</label>-->
      <input type="text" id="email" name="email"
        [(ngModel)]="email" placeholder="Email">
    </div>

    <div *ngIf="message" class="message">
      <p>{{message}}</p>
    </div>

    <div>
      <button>Reset</button>
    </div>
  </form>
  <div style="margin-top: 3rem;">
    <a [routerLink]="'/login'">Login</a>
  </div>
</ng-container>

<ng-container *ngIf="showComplete">
  <p style="color:#171C62;">
    An email sent to your registered email account<br>
    with password reset instructions.
  </p>
  <p>
    <a [routerLink]="'/login'">Back to login!</a>
  </p>
</ng-container>
