<form class="form-type-material" (submit)="login()">
  <div class="form-group">
    <!--<label for="username">Username</label>-->
    <input class="form-control" type="email" id="email" name="email"
      [(ngModel)]="email" placeholder="Email">
  </div>

  <div class="form-group">
    <!--<label for="password">Password</label>-->
    <input class="form-control" type="password" id="password" name="password"
      [(ngModel)]="password" placeholder="Password">
  </div>

  <div *ngIf="message" class="message">
    <p>{{message}}</p>
  </div>

  <div class="form-group">
    <button class="btn btn-primary">Login</button>
  </div>
</form>
<div style="margin-top: 3rem;">
  <a [routerLink]="'/forgot-password'">Forgot password</a>
  &nbsp;
  <a [routerLink]="'/signup'">Signup</a>
</div>
