<ng-container *ngIf="!signupSuccess">
  <form class="form-type-material" (submit)="signup()">
    <div class="form-group">
      <input class="form-control" type="text" id="email" name="email" required
        [(ngModel)]="user.email" placeholder="Email">
    </div>
    <div class="form-group">
      <input class="form-control" type="text" id="username" name="username" required
        [(ngModel)]="user.username" placeholder="Username">
    </div>
    <div class="form-group">
      <select class="form-control" name="country" id="country" required
        [(ngModel)]="user.country" placeholder="Select Country"
      >
        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
      </select>
    </div>

    <div class="form-group">
      <input class="form-control" type="password" id="password" name="password" required
        [(ngModel)]="user.password" placeholder="Password">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" id="confirm-password" name="confirm-password" required
        [(ngModel)]="confirmPassword" placeholder="Confirm Password">
    </div>

    <div *ngIf="message" class="message">
      <p>{{message}}</p>
    </div>

    <div>
      <button class="btn btn-primary">Login</button>
    </div>
  </form>
  <div style="margin-top: 3rem;">
    <a [routerLink]="'/login'">Login</a>
  </div>
</ng-container>

<ng-container *ngIf="signupSuccess">
  <p style="color:#171C62;">
    Congratulations, {{user.username}}, You have successfully signed up!<br>
    Happy reviewing!
  </p>
  <p style="color:#171C62;">
    <a [routerLink]="'/product-lookup'">Got it, Proceed to review >></a>
  </p>
</ng-container>
